<ion-content>
    <ion-app>

        <ion-header translucent>
            <ion-toolbar>
                <ion-title>Cadastro</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content fullscreen>
            <form>

                <ion-item>
                    <ion-label>E-mail</ion-label>
                    <ion-input type="text" [(ngModel)]="loginUsuario.email" name="email" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Senha</ion-label>
                    <ion-input type="password" [(ngModel)]="loginUsuario.senha1" name="senha" required></ion-input>
                </ion-item>

                <ion-button class="primary-contrast" (click)="realizarLogin()">Cadastrar</ion-button>
            </form>
        </ion-content>

    </ion-app>
</ion-content>