<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" action="">
    <div class="card">
        <div class="card-top">
            <img class="imglogin" src="img/user.png" alt="">
            <h2 class="title">Login</h2>
            <p>Seja bem-vindo(a)!</p>
        </div>

        <div class="card-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Digite seu email" required>
        </div>

        <div class="card-group">
            <label>Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha" required>
        </div>

        <div class="card-group">
            <label><input type="checkbox"> Lembre-me</label>
        </div>

        <div class="card-group btn">
            <button type="submit">ACESSAR</button>
        </div>
    </div>
</form>

</ion-content>
