<ion-content>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>
          Contatos
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <ion-list>
        <ion-list-header>
          Contatos de Segurança
        </ion-list-header>

        <ion-item *ngFor="let contacts of contatoSegurancaList, let i of index">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>
            <p>{{contacts.nome}} {{contacts.sobrenome}}</p>
            <p>Telefone: {{contacts.telefone}}</p>
            <p>E-mail: {{contacts.email}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab class="primary-contrast" vertical="bottom" horizontal="end" slot="fixed" size="small"
        (click)="cadastrarContato()">
        <ion-fab-button>+
        </ion-fab-button>
      </ion-fab>
    </ion-content>


  </ion-app>
</ion-content>