<link href="tabs.page.scss">
<ion-tabs >

  <ion-tab-bar slot="bottom" class="tabbar">
    <ion-tab-button tab="tab1" class="tabbar">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tabbar">
      <ion-icon name="book"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tabbar">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
