// :host(.button-solid) {
//     --background: var(--ion-color-primary, #000000);
//     --color: var(--ion-color-primary-contrast, #fff);
// }

.content{
    background-color: black;
}
.panico{
    height: 100px;
    width: auto;
    margin: 5px;
    display: flex;
    position: relative;
    bottom: 0;
    
    font-size: large;
}
.options{
    align-items: center;
}