<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form class="form" action="#">

  <div class="card">
    <div class= "card-top">
        <img class= "imglogin" src="img/img1.png" alt="">
        <h2 class="title" > Cadastre-se </h2>
        <p> Seja bem vinda !</p>
    </div>
  </div>
    

  <div class="card-group"> 
    <label>Nome completo</label>
    <input type="text" name="nome" placeholder="Digite seu nome"required>
  </div>

  <div class="card-group"> 
    <label>E-mail</label>
    <input type="email" name="email" placeholder="Digite seu e-mail" required>
  </div>

  <div class="card-group"> 
    <label>Senha</label>
    <input type="password" name="senha" placeholder="Digite sua senha"required>
  </div>

  <div class="card-group"> 
    <label>Confirme</label>
    <input type="password" name="confsenha" placeholder="Confirme sua senha"required>
  </div>


  <div class="card-group"> 
    <label>Celular</label>
    <input type="text" name="CPF" placeholder="(XX) 123456789" required>
  </div>

  <div class="card-group"> 
    <label><input type="checkbox"> Li e aceito os termos de uso</label>
  </div>

  <div class="card-group"> 
    <button type="submit">Cadastre-se</button>
  </div>
</form>
</ion-content>